<nav class="navbar py-0 navbar-expand-sm navbar-light bg-primary">
  
  <!-- Logo -->
  <a class="navbar-brand" href="{{ "/" | relative_url }}">
    <img style="max-width: 167px" src="https://res.cloudinary.com/andrewdotson88/image/upload/v1534708681/613/global/613-logo-2.svg" alt="">
  </a>

  <!-- Navigation -->
  <ul class="navbar-nav mx-auto">
    <li class="nav-item active">
      <a class="nav-link text-white  py-4" href="#">Heat Transfers <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white  py-4" href="#">Names & Numbers</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link text-white  py-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Heat Presses
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white  py-4" href="#" tabindex="-1">Help Center</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white  py-4" href="#" tabindex="-1">About</a>
    </li>
  </ul>

  <!-- Account -->
  <form class="form-inline ml-auto">
    <button class="btn btn-sm text-white" type="button">Account</button>
    <button class="btn btn-sm text-white" type="button">Live Chat</button>
    <button class="btn btn-sm text-white" type="button">Cart</button>
    <button class="btn btn-sm text-white" type="button">Start Order</button>
  </form>
</nav>
